{% extends 'trimit/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About us
{% endblock %}

{% block import_block %}

 <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" /> 
{% endblock %}

{% block body_block %}
<div><center><iframe width="560" height="315" src="https://www.youtube.com/embed/NuSbELCNloc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

<h1><center>About Trimit</center></h1><br/>
<center>The objective of the web application is to allow users to find the best hairdresser for them. They can find hairdressers based on location and reviews left by other users. Filters will allow users to ensure that their specific hair styles, hair types or treatments are catered for.</center><br/>
<center>Hairdressers can create specific profiles where users can review cuts, trims & treatments as well as professionalism, service and cleanliness. They can also show their pictures of previous clients to encourage users to choose them.</center></div>
{% endblock %}

{% block end_block %}
{% endblock %}