<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"></html>

<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<head>

    <title>
        Trimit -

        {% block title_block %}
            Find your perfect hairdresser
        {% endblock %}

    </title>

    <!--Imports-->

    {#    <link rel="stylesheet" type="text/css" href="{% static "libraries/bootstrap.min.css" %}" />#}

    <script src="{% static "libraries/jquery-3.3.1.min.js" %}"></script>
    {#    <script src="{% static "libraries/bootstrap.bundle.min.js" %}"></script>#}

    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />
    {% block import_block %}
        <!--Other file imports go here-->
    {% endblock %}


</head>
<body>
<div id="head" data-static-images="{% static "images/" %}">

    <div class="menu" id="menu">
        <div class="logo">
            {#                <a href="#logo" onclick=home();>#}
            <img class="logo home-btn" src="{% static "images/logo.png" %}">
            {#                </a>#}
        </div>
        <div class="nav">
            <ul class="navigate">
                <a class="hairdresser-signup-btn">Hairdresser Sign Up</a>
                <a class="user-signup-btn">User Sign Up</a>
                <a class="login-btn">login</a>
                <a class="contact-us-btn">contact</a>
            </ul>
        </div>
    </div>
    {% block header_block%}
        <!--add to base header-->
    {% endblock %}


    <!-- Trigger/Open The Modal -->
    {#                <button id="myBtn">Open Modal</button>#}

    <!-- The Modal -->
    <div id="loginModal" class="modal" data-popup="{{ popup }}">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <div class="close">&times;</div>
                <div class="popup-tabs">
                    <div class="tab-title" id="login-tab-title">
                        <div class="tab login-tab">
                            <div class="tab-text">Login</div>
                        </div>
                    </div>
                    <div class="tab-title" id="signup-tab-title">
                        <div class="tab signup-tab">
                            <div class="tab-text">Sign Up</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-body">
                    <div class="form-container" id="login-form">
                        <div class="frm">
                            <h1>Login:</h1>
                            <form id="login_form" method="post" action="{% url 'ajax_user_login' %}">
                                {% csrf_token %}
                                <p id="login-notif">
                                    <div id="login-notif-text"></div>
                                </p>
                                <p>
                                    <label for="username-login">Username: </label>
                                    <input id="username-login" type="text" name="username" value="" size="20"/>
                                </p>
                                <p>
                                    <label for="password-login">Password: </label>
                                    <input id="password-login" type="password" name="password" value="" size="20"/>
                                </p>
                                <input type="submit" value="Login"/>
                                <div class="login-loader">
                                    <div id="login-load">
                                        <span class="before"></span>
                                        <span class="after"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-container" id="signup-form">
                        <div class="frm">
                            <h1>Register as a User</h1>
                            {% if registered %}
                                <strong>thank you for registering!</strong>
                                <a href="{% url 'index' %}">Return to the homepage.</a><br/>
                            {% else %}
                                <strong>register here!</strong><br />
                                <form id="user_form" method="post" action="{% url 'user_register' %}"
                                      enctype="multipart/form-data">

                                    {% csrf_token %}

                                    <!-- Display each form -->
                                    {{ user_form.as_p }}
                                    {{ profile_form.as_p }}

                                    <input type="hidden" name="redir" value="{{ request.path }}">

                                    <!-- Provide a button to click to submit the form -->
                                    <input type="submit" name="submit" value="Register"/>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-content"></div>
            </div>
        </div>

    </div>

</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="page-content">
                {% block body_block %}
                    <!--Main body-->
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="foot">
    {% block footer_block %}
        <!--add before base footer-->
    {% endblock %}
    <div class="footer">
        <div class="contain">
            <div class="col trimit">
                <h1>Trimit</h1>
                <ul>
                    <li class="home-btn" data-link="{% url "index" %}">Home</li>
                    <li class="about-btn" data-link="{% url "about" %}">About</li>
                    <li class="contact-us-btn" data-link="{% url "contact_us" %}">Contact Us</li>
                </ul>
            </div>
            <div class="divider"></div>
            <div class="col join">
                <h1>join</h1>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="logout-btn" data-link="{% url "logout" %}">Logout</li>
                    {% else %}
                        <li class="hairdresser-signup-btn" data-link="{% url "hairdresser_register" %}">Sign Up - Hairdresser</li>
                        <li class="user-signup-btn">Sign Up - User</li>
                        <li class="login-btn">Login</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <script src="{% static "js/baseScript.js" %}"></script>
    <script src="{% static "js/modal.js" %}"></script>
    {% block end_block %}
    {% endblock %}
</div>
</body>
</html>