{% extends 'trimit/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Edit Profile
{% endblock %}

{% block import_block %}
    {{ page_form_media.css }}
    {{ page_form_media.js }}
    <link rel="stylesheet" href="{% static "css/tagfield_override.css" %}">
{% endblock %}

{% block body_block %}
    <h1 class="register-title">Edit Profile {{hairdresser.name}}</h1>

    <form id="form" method="post" action="{% url 'hairdresser_edit' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Display each form -->
       <!-- Display each form -->
       <div class="form-fields">
        <div class="non-field-errors">
            {{ hairdresser_form.non_field_errors }}
            {{ hairdresserpage_form.non_field_errors }}
        </div>
        {% for hidden in hairdresser_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for hidden in hairdresserpage_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in hairdresser_form.visible_fields %}
            <div class="field-wrapper">
                <div class="field-error-row">
                    <div class="field-errors">{{ field.errors }}</div>
                    <div class="field-help-text">{{ field.help_text }}</div>
                </div>
                <div class="field-row">
                    <div class="field-label"> {{ field.label }}</div>
                    <div class="field-value">{{ field }}</div>
                </div>
            </div>
        {% endfor %}
        {% for field in hairdresserpage_form.visible_fields %}
            <div class="field-wrapper">
                <div class="field-error-row">
                    <div class="field-errors">{{ field.errors }}</div>
                    <div class="field-help-text">{{ field.help_text }}</div>
                </div>
                <div class="field-row">
                    <div class="field-label"> {{ field.label }}</div>
                    <div class="field-value">{{ field }}</div>
                </div>
            </div>
        {% endfor %}

        {% if redir %}
            <input type="hidden" name="redir" value="{{ redir }}">
        {% else %}
            <input type="hidden" name="redir" value="">
        {% endif %}
    </div>

        <!-- Provide a button to click to submit the form -->
        <input class="form-btn" type="submit" name="submit" value="Submit"/>
    </form>

{% endblock %}