{% extends 'trimit/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block import_block %}
    {{ page_form_media.css }}
    {{ page_form_media.js }}
    <link rel="stylesheet" href="{% static "css/tagfield_override.css" %}">
    <link rel="stylesheet" href="{% static "css/long_page.css" %}">
{% endblock %}

{% block body_block %}
    <h1 class="register-title">Register as a Hairdresser</h1>
    {% if registered %}
        <p><strong>thank you for registering!</strong></p>
        If you are not redirected in a few seconds:
        {% if redir_name %}
            <a href="{{ redir }}" id="link-back">click here to return to previous page</a><br/>
            <input type="hidden" id="link" value={{ redir }}>
        {% else %}
            <a href="{% url 'index' %}"  id="link-back">click here to return to the homepage.</a><br/>
            <input type="hidden" id="link" value={% url 'index' %}>
        {% endif %}

    {% else %}
        <input type="hidden" id="link" value=''>
{#        <strong>register here!</strong><br />#}
        <form id="user_form" method="post" action="{% url 'hairdresser_register' %}"
              enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form -->
            <div class="form-fields">
                <div class="non-field-errors">
                    {{ hairdresser_form.non_field_errors }}
                    {{ page_form.non_field_errors }}
                </div>
                {% for hidden in hairdresser_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for hidden in page_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in hairdresser_form.visible_fields %}
                    <div class="field-wrapper">
                        <div class="field-error-row">
                            <div class="field-errors">{{ field.errors }}</div>
                            <div class="field-help-text">{{ field.help_text }}</div>
                        </div>
                        <div class="field-row">
                            <div class="field-label"> {{ field.label }}</div>
                            <div class="field-value">{{ field }}</div>
                        </div>
                    </div>
                {% endfor %}
                {% for field in page_form.visible_fields %}
                    <div class="field-wrapper">
                        <div class="field-error-row">
                            <div class="field-errors">{{ field.errors }}</div>
                            <div class="field-help-text">{{ field.help_text }}</div>
                        </div>
                        <div class="field-row">
                            <div class="field-label"> {{ field.label }}</div>
                            <div class="field-value">{{ field }}</div>
                        </div>
                    </div>
                {% endfor %}

                {% if redir %}
                    <input type="hidden" name="redir" value="{{ redir }}">
                {% else %}
                    <input type="hidden" name="redir" value="">
                {% endif %}
            </div>
            <!-- Provide a button to click to submit the form -->
            <input class="form-btn" type="submit" name="submit" value="Register"/>
        </form>
    {% endif %}
{% endblock %}

{% block footer_block %}
    <script src="{% static "js/register.js" %}"></script>
{% endblock %}