{% extends 'trimit/base.html' %}
{% load staticfiles %}

{% block import_block %}
<link rel="stylesheet" href="{% static 'css/hairdresserpage.css' %}">

{% endblock %}

{% block body_block %}


<div class="hairPage">
      
    <div class="leftContent">
            <p class="favourites" onclick = addFavourite();>&hearts;</p>
        {% if is_users_page %}
        <a href="../h/edit">Edit page</a>

        {% endif %}
        {% if has_user_profile and user.is_authenticated %}
       
        {% endif %}
        
        <div class="hairProfile">



            <div class="introduction">
                <h1>{{hairdresser.name}}</h1>
                <div class="container-profile-pic">
                    <img id="profile-pic" src="{{MEDIA_URL}}{{hairdresser.profile_picture}}" alt="hairdresser image" />
                </div>



                <div class="rating">
                    <span>Atmosphere: </span> <span>{{hairdresser.mean_atmosphere_rating}} </span>
                    <span> Price : </span><span>{{hairdresser.mean_price_rating}}</span>
                    <span> Service : </span> <span>{{hairdresser.mean_service_rating}} </span>
                    <br />
                    <span>Overall :</span><span>{{hairdresser.overall_rating}}</span>

                </div>
            </div>

            <div id="about">
                Specialties: <i>{{hairdresser.specialities}}</i>
                <p>{{hairdresser.description}}</p>
            </div>

            <div class="treatment">
                {% for treatment in treatment_list %}
                <div id="singleTreatment">
                    <h5>{{treatment.description}} {{treatment.price}}</h5>
                </div>
                {% endfor %}
            </div>

            <div class="pagelinks">
                <button id="review-button" onclick=review();>Reviews </button>
                <button id="treatment-button" onclick=treatment();>Treatment </button>

                {% if has_user_profile and user.is_authenticated %}
                <button id="make-review-button" onclick=makeReview();>Make a review </button>
                {% endif %}

            </div>

        </div>



        <!--Changing content-->
        <div class="changing-content">
            <div class="review-content">
                 {% for review in review_list %} 
                 <div id="singleReview">
                <div class="userImgContainer">
                    <div id = "nameContainer">
                        <p id="time">{{review.time}}</p>
                <h3>{{review.user}}</h3>
                </div>
                
                    <img id="userPic" src="{{ MEDIA_URL }}{{review.user.profile_picture}}">
                </div>
                <p id="reviewRatings">
                    Overall rating {{review.average_rating}} </br>
                    Atmoshere {{review.atmosphere_rating}}</br>
                    Price {{review.price_rating}}</br>
                    Service {{review.service_rating}}
                </p>
                <p id="comment">"{{review.comment}}"</p>
            </div>


            {% endfor %}
        </div>


        <!--End of change-->
    </div>

    </div>

    <div class="rightContent">

        <div id="map_box">
            <div class="container-map">
                <img id="map" src="https://maps.googleapis.com/maps/api/staticmap?
                                            center={{ hairdresser.latitude }},{{ hairdresser.longitude }}
                                            &zoom=14&size=400x400&scale=2
                                            &markers=color:red%7C{{ hairdresser.latitude }},{{ hairdresser.longitude }}
                                            &key=AIzaSyBh1c6xCPIo3PNhfUGmTJhKwU76AuIaJ8o">
            </div>
        </div>
        <div id="adress">
            <p>
                <h4>Address</h4>
                {{hairdresser.flat_number}}</br>
                {{hairdresser.street_address}}</br>
                {{hairdresser.city}}</br>
                {{hairdresser.postcode}}</br>
                {{hairdresser.country}}</br>
                <br>
            </p>
        </div>
        <div id="opening-times">
            <h4>Opening times</h4>
            <p>
                {{hairdresser.opening_times}}</br>
                <br>
            </p>
        </div>
        <div id="contact">
            <h4>Get in touch</h4>
            <p>
                {{hairdresser.webpage}}</br>
                {{hairdresser.instagram}}</br>
                {{hairdresser.contact_number}}</br>
            </p>
        </div>



    </div>

</div>
{% endblock %}


{% block end_block %}

<script src="{% static "js/hairdresser_page.js" %}"></script>



{% endblock %}