{% extends 'trimit/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Find your perfect hairdresser
{% endblock %}

{% block import_block %}

 <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" /> 
{% endblock %}

{% block custom_content %}
<div class="index-content">
<img class="index-content" src="{% static 'images/home.jpg' %}"></div>

        <div class="container">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="Search..." />
        </div>
    </div>

{% endblock %}
{% block end_block %}
{% endblock %}