{% extends 'trimit/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Find your perfect hairdresser
{% endblock %}

{% block import_block %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
{% endblock %}

{% block custom_content %}
    <div class="index-content">
        <div class="container">
            <h1>Search for your perfect hairdresser by name or location:</h1>

{#            <span class="icon"><i class="fa fa-search"></i></span>#}
            <div class="ui-widget">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." data-type="" data-slug=""/>
            </div>
            <input type="hidden" id="searchType2"/>
            <input type="hidden" id="searchSlug2"/>
        </div>
    </div>

{% endblock %}
<script src="{% static "js/index.js" %}"></script>
{% block end_block %}
{% endblock %}