{% extends 'trimit/base.html' %}
{% load staticfiles %}

{% block import_block %}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />
{% endblock %}

{% block body_block %}

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Open Modal</button>

    <!-- The Modal -->
    <div id="loginModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <div class="close">&times;</div>
                <div class="popup-tabs">
                    <div class="tab-title" id="login-tab-title">
                        <div class="tab login-tab">
                            <div class="tab-text">Login</div>
                        </div>
                    </div>
                    <div class="tab-title" id="signup-tab-title">
                        <div class="tab signup-tab">
                            <div class="tab-text">Sign Up</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-body">
                    <div class="form-container" id="login-form">
                        <div class="frm">
                            login form
                        </div>
                    </div>
                    <div class="form-container" id="signup-form">
                        <div class="frm">
                            <h1>Register for Trimit</h1>
                            {% if registered %}
                                <strong>thank you for registering!</strong>
                                <a href="{% url 'index' %}">Return to the homepage.</a><br/>
                            {% else %}
                                <strong>register here!</strong><br />
                                <form id="user_form" method="post" action="{% url 'user_register' %}"
                                      enctype="multipart/form-data">

                                    {% csrf_token %}

                                    <!-- Display each form -->
                                    {{ user_form.as_p }}
                                    {{ profile_form.as_p }}

                                    <input type="hidden" name="redir" value="{{ request.path }}">

                                    <!-- Provide a button to click to submit the form -->
                                    <input type="submit" name="submit" value="Register"/>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>Modal Footer</div>
            </div>
        </div>

    </div>

{% endblock %}

{% block footer_block %}
    <script src="{% static "js/modal.js" %}"></script>
{% endblock %}