{% extends 'trimit/base.html' %}
{% load staticfiles %}

{% block import_block %}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />
{% endblock %}

{% block body_block %}

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Open Modal</button>

    <!-- The Modal -->
    <div id="loginModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <div class="close">&times;</div>
                <div class="popup-tabs">
                    <div class="tab-title" id="login-tab-title">
                        <div class="tab login-tab">
                            <div class="tab-text">Login</div>
                        </div>
                    </div>
                    <div class="tab-title" id="signup-tab-title">
                        <div class="tab signup-tab">
                            <div class="tab-text">Sign Up</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-body">
                    <div class="form-container" id="login-form">
                        <div class="frm">
                            login form
                        </div>
                    </div>
                    <div class="form-container" id="signup-form">
                        <div class="frm">
                            signup form
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>Modal Footer</div>
            </div>
        </div>

    </div>

{% endblock %}

{% block footer_block %}
    <script src="{% static "js/login.js" %}"></script>
{% endblock %}