{% extends 'trimit/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Write a Review
{% endblock %}

{% block body_block %}
    <h1 class="register-title">Write a Review for {{hairdresser.name}}</h1>

    <form id="form" method="post" action="{% url 'review_hairdresser' hairdresser_slug=hairdresser.slug %}" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Display each form -->
        {{ form.as_p }}

        <!-- Provide a button to click to submit the form -->
        <input class="form-btn" type="submit" name="submit" value="Submit"/>
    </form>

{% endblock %}