{% extends 'trimit/base.html' %}
{% load staticfiles %}

{% block import_block %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <div id="csrf_token">{% csrf_token %}</div>
    <script>
        var CSRFtoken = $('#csrf_token > input').val();
        {% if user.is_authenticated %}
            var LOGGED_IN = true;
        {% else %}
            var LOGGED_IN = false;
        {% endif %}
    </script>
{% endblock %}
{% block body_block %}
<div id="box">
    <div id="user_data_and_reviews">
        <div id="user_data">
            <div id="user_picture">
                <img src="{{ user_profile.profile_picture.url }}">
            </div>
            <div class="user_details">
                <p2 id="details_header">My Details</p2>
                <div class="user_name">
                    name: {{ user.username}}
                </div>
                <div class="user_email">
                    email: {{ user.email}}
                </div>
                <div class="edit_button">
                    <input type="button" value="Edit picture" onclick = "window.location.href = 'http://127.0.0.1:8000/trimit/user_profile/edit'"/>

                </div>

            </div>
        </div>
        <div id="reviews_box">
            <div id="reviews_box_header">My Reviews</div>
            {% for r in reviews %}
            <div class="review_section">
                <div class="user_review">
                    <a href="{% url 'hairdresser_page' r.page.slug %}">{{ r.page }}</a>
                    <p3>{{ r.comment }}</p3>
                </div>
                    <div class="review_picture">
                    {% if r.picture %}
                    <img src="{{ r.picture.url }}">
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="favourites">
        <div id="favourites_header">
            <br></br>
            <p1 id="user_favourites">My Favourites</p1>
        </div>

            <div class="favourites_info">
                {% for h in hairdressers %}
                <div class="favourite_top_box">
                <div class="favourites_name_picture">
                    <div id="favourites_name">
                        <a href="{% url 'hairdresser_page' h.slug %}">{{ h.name }}</a>

                    </div>
                    <div id="favourites_picture">
                        {% if h.profile_picture %}
                        <img src="{{h.profile_picture.url}}">
                        {% endif %}
                    </div>
                </div>

                <div class="heart_picture">
                    <p4>&#10084;</p4>
                </div>
                </div>
                {% endfor %}
            </div>


    </div>
</div>

{% endblock %}

{% block end_block %}
    <script src="{% static 'js/user_profile.js'%}"></script>
{% endblock %}