body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin: 0;
    color: #a81d73;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    max-width: 65px;
    min-width: 65px;
    margin: 5px;
    background-color: #a81d73;
    transition-duration: 0.4s;
    font-size: 20px;
    font-family: arial, serif;
    font-size: 20px;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.menu {
    /*position: fixed;*/
    /*top: 0;*/
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.navigate {
    display: flex;
    flex-flow: row wrap;

    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.nav {
    height: auto;
}

.head {
    flex-grow: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    overflow: auto;
}

.foot {
    flex-grow: 0;
}

.row {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.contents {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.page-content {
    width: 85%;
    margin: 0.5em auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.menu a {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    /*float: left;*/
    /*display: block;*/
    color: #000000;
    /*text-align: center;*/
    text-decoration: none;
    /*padding: 10px 8px;*/
    font-size: 17px;
    cursor: pointer;
    height: 100%;
    padding: 1em;
    -webkit-box-shadow: -16px 0 0px -15px #a81d73;
    box-shadow: -16px 0 0px -15px #a81d73;
    border-top: none;
}

.menu a:first-child {
    box-shadow: none;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.logo{
    float: left;
    vertical-align: center;
    width: 200px;
    height: 45px;
    /*margin-right: 600px;*/
}

img.logo {
    cursor: pointer;
}

.menu a:hover {
    color: #a81d73;
    /*background: #f4eaff;*/
}

.contain {
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.footer .col {
    width: 49%;
    height: auto;
    float:left;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 14px;
    line-height: 17px;
    padding: 0px 0px 5px 0px;
    color: #a81d73;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
    text-align: center;
}

.footer .col ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: #000000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    text-align: center;
}

.footer .col ul li:hover {
    color: #a81d73;
}

.divider {
    background-color: #a81d73;
    min-height: 50%;
    width: 1px;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* autocomplete */

.ui-widget {
    display: -webkit-flex;
    
    width: 100%;
    height: 100%;
}

.ui-widget input#searchAC, .ui-widget input#search{
    width: 75%;
    height: 50px;
    -webkit-appearance: none;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 12.5%;
}

.ui-widget .icon{
    position: relative;
    left: calc(12.5% + 14px);
    top: 16px;
    width: 0;
}

ul.ui-menu {
    display: unset;
}

.searchBar .ui-widget{
    width: fit-content;
}

.searchBar .ui-widget .icon{
    left: 14px;
}

.searchBar .ui-widget input#searchAC {
    width: 100%;
    margin-left: 0;
    -webkit-box-shadow: -16px 0 0px -15px #a81d73, 16px 0 0px -15px #a81d73;
    box-shadow: -16px 0 0px -15px #a81d73, 16px 0 0px -15px #a81d73;
}

.ui-menu img{
    width:32px;
    height:32px;
}
.ui-menu li > div > div{
    font-size:inherit;
    margin:0 0 0 4px;
    white-space:nowrap;
}
.ui-menu-item-wrapper {
    display: -webkit-flex;
    align-items: center;
}

@media all and (max-width: 1010px) {
    .menu {
        justify-content: center;
    }

    .navigate a {
        border-top: 1px solid rgba(0,0,0,0.1);
        border-right: none;
    }
}

@media all and (max-width: 600px) {
    body {
        display: block;
    }

    .menu {
        flex-direction: column;
    }

    .navigate {
        justify-content: center;
        flex-direction: column;
    }

    .navigate {
        width: 100%;
    }

    .navigate a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-right: none;
        width: 100%;
        display: block;
        box-shadow: none;
    }

    .nav {
        width: 100%;
    }

    .searchBar {
        -webkit-appearance: searchfield;
        appearance: none;
        width: 100%;
        border-top: 1px solid rgba(0,0,0,0.1);
        justify-content: center;
    }

    .searchBar .ui-widget {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    

}


