




.hairPage {
  background: linear-gradient(rgba(243, 198, 226, 0.4), rgba(168,29,115,.4)), url("/static/images/stock.jpg");
   display:flex;
   flex-direction:row;
   
   
    
  
}
.favText {
    font-size:10px;
    margin-left: 15px;
    
}
.favourites {

color: #f2f2f2;
cursor: pointer;
font-size: 50px;
margin-left: 30px;

}
a {
    font-size:15px;
    color:black;
    font-style:times;
    margin-right:auto;
}

.pagelinks {
    display:flex;
    justify-content: space-evenly;

    width: 100%;
   
  
    width:100%;
    height:50px;
    margin-bottom: 20px;
    
}
button {
    width:25%;
    height:100%;
    background-color: rgb(168,29,115);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    border: 1px solid grey;
    color:white;
    border-radius: 10px;

}
/* 
a {
    background:rgba(255,255,255,0.3);
    color:white;
    border-radius:10px;
    width:100px;
    height:50px;
} */

h1 {


    text-align: center;
    width: 100%;
    height:10%;
    
    

}
h4 {
    color: rgb(168,29,115);
}

.leftContent {
   
    width:50%;
    height:100%;
    
    background-color:white;
 
    
   
}

.rightContent {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:center;
    color:black;
    margin-left:auto;
    height:10%;
    width:30%;
    background-color: white;
    border-radius:15px;
  
    margin-top:50px;
    margin-right:100px;
   
   
   
}
#adress {
    width:50%;
    
    text-align:center;
}
#opening-times {
    width:50%;
   
    text-align:center;
}
#contact {
    
    text-align:center;
    width:100%;
}

/* Map */
#map_box{
    
    
    margin-top:30px;
    width: 70%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #a81d73;
}

.container-map, #map {
    border-radius: inherit;
}

.container-map {

    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}



.hairProfile {

 
   background-color:white;
   width:100%;
   min-height:400px;
   
   
  
  /* box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);*/
}

.introduction {
    margin-left: 10px;
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-evenly;
}


#profile-pic {
 
 max-width:100%;
 max-height:auto;


 
 


    
}

.container-profile-pic {
   

    
   height:180px;
   width:180px;
  border-radius: 50%;
 overflow:hidden;
   border: 2px solid #a81d73;
   box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
   
   

}

.rating {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: space-between;
    width: 50%;
    height: 50%;
    margin-left: 20px;
    margin-top:30px;
    font-size:20px;
   
   
   
  

}
span {
    width:50%;
    
}



#about{
   margin-top:10px;
  
  width:100%;
  text-align:center; 
}


.changing-content {
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   background-color:white;
    width:100%;
    min-height:500px;
   
   
    
}
#singleReview {
    display:inline-flex;
    flex-direction:column;
    align-items: center;
    width:50%;
    
    height:fit-content;
    border-radius:15px;
    /* overflow:hidden; */
  
    box-shadow:1px 1px 1px 1px rgba(0,0,0,0.2);
  
    
}



#time {
    
    font-size: 10px;
}

#reviewRatings{
    /* margin-left:10%; */
   /* height:30%; */
   /* width:50%; */
  
}

#comment {
    font-style:italic;
    
    width:100%;
    height:30%;
    text-align:center;
}


#reviewPic {

max-height:20%;
width:auto;  
 
  
  

}
.userReviewContainer {
    display: flex;
    flex-flow: row wrap;
    align-content:center;
    justify-content:space-evenly;
    /* width:100%;
    height:100%; */
     
}

.userReviewContainer p, 
.userReviewContainer h3, 
.userReviewContainer img {
flex: 1 0 100%;
text-align: center;
}

.userReviewContainer h3 {
    margin: 0;
}

#userImgContainer {
    height: 100px;
    /* width: 100%; */
    
}


#userPic {
    
    
   height:100%;
  width:auto;
   border-radius: 50%;
   

}
.treatment-content {
display:flex;
flex-direction:column;

 width:100%;

}   
.treatment {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-end;
    margin-top:20px;
}

#product {
    margin-top:20px;
    
    width:40%;
   
    
}

#price{
    margin-top:20px;
   
    width:40%;
    
}




