#box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em;
    }

#hairdressers_information_box{
    border-style: solid;
    overflow-y: scroll;
    width: 48%;
}

#filters_box{
    width: 49%;
}

#box_header{
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}
/*box that contains the text being applied to each slider*/

/*text contained for each slider*/
#p1{
    font-size: 22px;
    margin-top: 10%;
}

#p2{
    margin-top: 5%;
    font-size: 22px;
}
/*box that contains the sliders*/
.rating_box{
    padding: 4px 0;
}

#vrating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#srating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#arating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#orating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#map_box{
    border-style: solid;
    height:100%;
}
/*formatting for hairdresser image*/
#hairdresser_data{
    float: right;
    margin-right: 40%;
}
#rating {
    margin-left: 45%;
    /*margin-top: 20%;}*/
}

/* Map */
.container-map {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.slider-wrapper{
    width: 70%;
    }

.slider_title{
    width: 20%;
}