#box{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    flex: 1 0 100%;
    }

#data_and_map{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    flex: 1 0 50%;
    margin: 0.7em 0;
    }

#filters {
    display: flex;
    flex-direction: column;
}

#filters_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hairdressers_information_box{
    border-style: solid;
    overflow-y: scroll;
    width: 48%;
}

#filters_box{
    flex: 0 1 45%;
}

#tags_filters {
    flex: 0 1 45%;
}

#box_header{
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}

#s2id_id_specialities {
    min-width: 100%;
}

#s2id_id_specialities > ul {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 78px;
}
.ui-slider-horizontal div.ui-slider-range-min {
    left: -1px;
}
div.ui-widget-content {

    background: #a81d73;

}

#p1{
    font-size: 22px;
    margin-top: 10%;
}

#p2{
    margin-top: 5%;
    font-size: 22px;
}

/*box that contains the sliders*/
.rating_box{
    padding: 4px 0;
}
.custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    /*line-height: 1.6em;*/
  }
#vrating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#srating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ui-slider-horizontal div.ui-slider-handle {
    top: 9px;
    width: 36px;
    height: 17.6px;
}

#arating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#orating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#map_box{
    border-style: solid;

    width: 48%;
}
/*formatting for hairdresser image*/
#hairdresser_data{
    float: right;
    margin-right: 40%;
}

#rating {
    margin-left: 45%;
}

/* Map */
.container-map {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.selected-marker {
    background-color: #f4eaff;
}

.slider-wrapper{
    width: 70%;
}

.slider_title{
    width: 25%;
}

