
#box{
}
#left_box, #right_box{
    margin-top: 100px;
    }
#left_box{
    width: 40%;
    height: 60%;
    border-style: solid;
    margin-left: 50px;
    position: fixed;
    overflow-y: scroll;
    height: 600px;
    }

#right_box{
    border-style: none;
    width: 40%;
    margin-left: 850px;
    float: right;
    height: 500px;
    }

#box_header{
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    }
p1{
    font-size: 22px;
    text-indent: 10em;
    }
#map_box{
    border-style: solid;
    height:400px;
    }