#box{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    height: 100%;
    background-color: #e089c1
}
#user_data_and_reviews{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }

#user_data{
    align-self:stretch;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    }
.edit_button{
    margin-top: 67px;
    }

#reviews_box{
    align-self: stretch;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    }
 #reviews_box_header{
    margin-top: 5px;

    font-weight: bold;
 }



.review_picture{
    width: 200px;
    }

.review_picture img{
    max-width: 200px;
    border-radius: 10px;
   }

.user_details{
    display:flex;
    flex-direction: column;
    }


#user_picture img{
    margin: auto;
    width: auto;
    height: 100%;
    }

#user_picture{
    flex: 0 0;
    }
.user_review{
    display: flex;
    flex-direction: column;
    }
.review_section{
display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #faebd7;
    border-radius: 10px;
    margin-right: 3px;
    min-height: 100px;
    }

#favourites{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#a81d85;
    }

#favourites_header{
    height: 30%;
    border-radius: 10px;

    }

#user_favourites{
    font-size: 25px;
    font-weight: bold;
    }
.favourites_info{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    }

.favourites_name_picture{
    display: flex;
    flex-direction: column;
    flex: 1 0 70%;
    }
p4{
    flex: 1 0 30%;
    color: red;
    font-size: 220%;

    }
.heart_picture{
     align-self: center;
    }

#p1{
   margin-top: 20px;
    }

#details_header{
    text-indent: 6%;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;

    }

.user_name, .user_email{
    text-indent: 2%;
    margin-bottom: 10px;
    }

.favourites_box{
    display: flex;
    flex-direction:column;
    }

 .favourite_top_box{
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    padding-bottom: 50px;
    border-radius: 10px;
    background-color: #faebd7;
    }

#favourites_picture img{
    width: 80%;
    height: auto;
    max-width: 200px;
    }

#favourites_name{
    padding: 16px;
    }
a{text-decoration: none}
p3{margin-top: 3px;}


@media all and (max-width: 658px) {
    #box{
        flex-direction:column;
    }

    #user_data_and_reviews{
        width: 100%;
        }
    .favourites{
        width: 100%;
        }
    .review_section{
        flex-direction: column;
        width: 100%;
        }

    #user_data{
        flex-direction: column;
        width: 100%;
            }
    }
    #user_picture{
        /*width: 100%;*/
    }
    .user_details{
        width: unset;
    }
    #favourites{
    width: unset;}
}