
#box{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    height: 100%;
}

#user_data_and_reviews{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }

#user_data{
    align-self:stretch;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    flex: 1 0 150px;
    background-color: #a81d85;
    }


#reviews_box{
    align-self: stretch;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #e089c1;
    margin-right: 4px;
    }

 #reviews_box_header{
    margin-top: 8px;
    font-weight: bold;
     font-size: 20px;
 }

.review_picture{
    width: fit-content;
    }

.review_picture img{
    max-width: 200px;
    border-radius: 10px;
    max-height: 99px;
    float: right;
   }

.user_details{
    display:flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 2px;
    }

#user_picture img{
    margin: auto;
    width: auto;
    height: 100%;
    border-radius:50%;
    max-width: 192px;
    }

#user_picture{
    flex: 0 0;
    }
.user_review{
    display: flex;
    flex-direction: column;
    flex: 1 0;
    }

.review_section{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #faebd7;
    border-radius: 10px;
    margin-right: 3px;
    min-height: 100px;
    }

.page-content {
    background-color: #a81d85;
}

#favourites{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#a81d85;
    }

#favourites_header{
    height: 30%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

#user_favourites{
    font-size: 25px;
    font-weight: bold;
    }

.favourites_info{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    overflow-y: auto;
    }

.favourites_name_picture{
    display: flex;
    flex-direction: column;
    flex: 1 0 70%;
    }

p4{
    flex: 1 0 30%;
    color: red;
    font-size: 220%;
    }

.heart_picture{
     align-self: center;
    }

p1{
   vertical-align: middle;
    }

#details_header{
    /*text-indent: 6%;*/
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    }

.user_name, .user_email{
    /*text-indent: 2%;*/
    margin-bottom: 10px;
    }

.favourites_box{
    display: flex;
    flex-direction:column;
    }

 .favourite_top_box{
    display: flex;
    flex-direction: row;
    margin-top: 4px;

    border-radius: 10px;
    background-color: #faebd7;
    /*margin-left: 15px;*/
    }

#favourites_picture img{
    width: 80%;
    height: auto;
    max-width: 200px;
    }

#favourites_name{
    padding: 16px;
    }

p3 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
}

.user_review > a, .favourites_name_picture a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: purple;
    margin-top: 4px;
    margin-left: 4px;

}

@media all and (max-width: 660px) {
    #box{
        flex-direction:column;
    }

    #user_data_and_reviews{
        width: 100%;
        }
    .favourites{
        width: 100%;
        }
    .review_section{
        flex-direction: column;
        width: 100%;
        }

    #user_data{
        flex-direction: column;
        width: 100%;
            }
        #user_picture{

        width: auto;
        height: 150px;
        }

    #favourites{
        width: unset;
         }
    #user_data{
        flex: unset;
        align-items: center;
        }

    body {
        display: block;
    }

    .menu {
        flex-direction: column;
    }

    .navigate {
        justify-content: center;
        flex-direction: column;
    }

    .navigate {
        width: 100%;
    }

    .navigate a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-right: none;
        width: 100%;
        display: block;
        box-shadow: none;
    }

    .nav {
        width: 100%;
    }

    .searchBar {
        appearance: none;
        width: 100%;
        border-top: 1px solid rgba(0,0,0,0.1);
        justify-content: center;
    }

    .searchBar .ui-widget {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .favourites_info {
        flex-flow: column;
    }
    .favourite_top_box {
        margin: 2px auto;
    }
    #favourites_header{
        margin: 10px 0;
    }
    }